body {
  font-family: Raleway, sans-serif;
  background: #a6a6e7;
}

.bg-nav {
  background-color: #f6f8fd;
}

.mt--2 {
  margin-top: -0.5rem !important;
}

.hr-dotted {
  border-top: 1px dotted;
  opacity: .25;
}

.navbar-light .navbar-nav .nav-link {
  color: #212529 !important;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.4s;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #0d6efd !important;
}

.feature-icon-1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  color: #fff;
  border-radius: 100%;
}

.btn-social-media {
  color: #31316a;
  background-color: #cdcfdf;
  border-color: #cdcfdf;
  width: 2rem;
  height: 2rem;
  padding: 1.2rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.btn-social-media:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

/* Footer */
.footer .copyright a {
  color: #ee5050;
  text-decoration: none;
}

.footer .copyright a:hover {
  color: #eb2d2d;
}

.footer .link a {
  color: #212529;
  text-decoration: none;
}

.footer .link a:hover {
  color: #0d6efd;
}

/* Card hover effect */
.card {
  transition: transform 0.3s;
}
.card:hover {
  transform: scale(1.05);
  z-index: 2;
}
body {
  background-color: #b5a5e3;
  font-family: Arial, sans-serif;
  margin: 0;
}

.product-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.product-card {
  width: 250px;
  background: white;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  height: 150px;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 10px;
}


.btn-order {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 14px;
  background-color: #b35ea5;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
  transition: .3s;
}

.btn-order:hover {
  background-color: #8e4c8c;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(155,77,146,0.2);
}
